"combined_dataset.csv" 
"X_train.npy" 
"X_test.npy" 
"y_train.npy" 
"y_test.npy" 
"Friday-WorkingHours-Afternoon-DDos.pcap_ISCX.csv" 
"Friday-WorkingHours-Afternoon-PortScan.pcap_ISCX.csv" 
"Friday-WorkingHours-Morning.pcap_ISCX.csv" 
"Thursday-WorkingHours-Afternoon-Infilteration.pcap_ISCX.csv" 
"Thursday-WorkingHours-Morning-WebAttacks.pcap_ISCX.csv" 
"Tuesday-WorkingHours.pcap_ISCX.csv" 
"Wednesday-workingHours.pcap_ISCX.csv" 
"Monday-WorkingHours.pcap_ISCX.csv" 
"MachineLearningCVE/" 
".ipynb_checkpoints/" 
"Untitled.ipynb" 
